NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://fbcpos_user:fbcpos_secret@localhost:5432/fbcpos_db?schema=public"
JWT_SECRET="fbcpos-super-secure-jwt-secret-key-2026-production"
JWT_REFRESH_SECRET="fbcpos-super-secure-refresh-jwt-secret-key-2026"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="*"
LOG_LEVEL="debug"
